<assembly>
  <id>spring-bin</id>
  <formats>
    <format>zip</format>
  </formats>
  <fileSets>
    <fileSet>
      <directory></directory>
      <outputDirectory></outputDirectory>
      <includes>
        <include>README*</include>
        <include>LICENSE*</include>
        <include>COPYING*</include>
        <include>NOTICE*</include>
      </includes>
    </fileSet>
    
    <!-- perfectjpattern-spring -->
    <fileSet>
      <directory>target/site/perfectjpattern-spring/apidocs</directory>
      <outputDirectory>docs/spring</outputDirectory>
      <includes>
        <include>**</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>perfectjpattern-spring/target</directory>
      <outputDirectory></outputDirectory>
      <includes>
        <include>*.jar</include>
      </includes>
    </fileSet>
  </fileSets>
</assembly>
